

body{
    color: black;
    height: 100vh;
    z-index: 1;
    background: linear-gradient(-45deg, rgb(192, 118, 118), rgba(0, 0, 10, 0.384));
    background-size: 400% 400%;
    animation: bgColor 2s ease infinite;
} 



@keyframes bgColor {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: white;
}